# binarios generales
*.out
*.exe
*.bin
*.o

# archivos temporales
*.log
*.tmp

# sistema
.vscode/
.idea/
.DS_Store

# Archivos compilados C
build/
*.o
*.so

# Python
venv/
__pycache__/

# Binarios UEFI (TP3a)
*.o
*.so
*.efi

# Proyectos de Ghidra
*.gpr
*.rep/